/* FULL SCREEN */
.login-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* LEFT PANEL */
.left-panel {
  position: relative;
  width: 50%;
  height: 100%;
}
.left-panel img {
  object-fit: cover;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-text h1 {
  font-weight: 800;
  font-size: 2.5rem;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
.overlay-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

/* RIGHT PANEL */
.right-panel {
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, #fff, #fff8f0);
  position: relative;
}

/* LOGIN BOX */
.login-box {
  width: 350px;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Responsive */
@media (max-width: 991px) {
  .left-panel {
    display: none !important;
  }
  .right-panel {
    width: 100%;
    background: linear-gradient(120deg, #fff8f0, #fff1e6);
  }
  .login-box {
    width: 90%;
  }
}
.btn-warning {
  background: linear-gradient(90deg, #ffd54f, #ffb300);
  border: none;
  color: #212121;
}
.btn-warning:hover {
  background: linear-gradient(90deg, #ffca28, #ffa000);
  color: #000;
}
